*
{
    margin: 0px;
}
nav
{
  background-color: rgb(15, 13, 13);
  justify-content: space-between;
  display: flex;
  padding: 7PX;
}
nav>h1
{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-style: bold;
}
nav>#link-section>a
{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#link-section
{
    color: white;
    display: flex;
    align-items:center; 
}
#landing-image
{
    background-image: url("https://www.celebritycruises.com/blog/content/uploads/2022/01/most-beautiful-mountains-in-the-world-kirkjufell-iceland-1024x580.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;   
}
#landing-image>#content-selection
{
    text-align: center;
    padding-top: 20%;
    background-color: rgba(49, 46, 46, 0.5); 
    height: 565px;
}
#content-selection>h1
{
    color: white;
    font-size: 50px;
    padding: 10px;
}
#content-selection>p
{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.click-button>button
{
    color:white;
    text-decoration: none;
    background-color: rgb(91, 30, 30);
    padding: 10px 20px;
    border-radius: 100px;
}
.links
{
    background-image: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/wild-nature-chromebook-wallpaper.jpg);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;   
    font-size: 20px;
}
.links>a
{
    text-decoration: none;
    padding: 5 px;
    justify-content: space-between;
    justify-content: row;
    margin-bottom: 10px;
    display: block;
    background-color: rgba(14, 14, 6, 0.1);
    color: rgb(237, 234, 227);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.links>h1
{
    padding: 10px;
    background-color: rgb(33, 28, 23,0.1);
    color: rgb(237, 234, 227);
    height: 50px;
}

